/* Footer.css */
.footer {
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.navbar {
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
.container {
  margin-bottom: 8rem;
}

.footer p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 6rem;
    padding: 0 20px;
  }
  body.menu-open .z-15,
  body.menu-open [class*="z-15"] {
    display: none !important;
  }
}