name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Wait for Render Deployment
      uses: bounceapp/render-action@0.12.0
      with:
        render-token: ${{ secrets.RENDER_API_KEY }}
        service-id: ${{ secrets.RENDER_SERVICE_ID }}
        retries: 40
        wait: 15000
    - uses: pnpm/action-setup@v4
      with:
        version: 10.25.0
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
    - name: Install Playwright Browsers
      run: pnpm exec playwright install --with-deps
      working-directory: ./tests
    - name: Run Playwright tests
      run: pnpm test
      working-directory: ./tests
      env:
        E2E_TEST: true
        TEST_BYPASS_KEY: ${{ secrets.TEST_BYPASS_KEY }}
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: tests/playwright-report/
        retention-days: 30
